<div class="container-fluid mt-5">
  <h1>Random kittens! >_<</h1>
  <div class="row">
    <div *ngFor="let data of catsDisplay" class="col-lg-3 mt-3 mb-3">
      <div class="box">
        <img
          src="{{ data.url }}"
          alt="Cat Image"
          class="image-fluid"
          width="100%"
        />
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button (click)="refresh()" type="button" class="btn btn-success">Refresh</button>
      </div>
    </div>
  </div>
<br>
